<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CORE_MODELS.Properties.Settings.POSPROConnectionString"
            connectionString="Data Source=DESKTOP-FMAB3GA\SQLEXPRESS;Initial Catalog=POSPRO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.EMSConnectionString"
            connectionString="Data Source=DESKTOP-FMAB3GA\SQLEXPRESS;Initial Catalog=EMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.ComplaintManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-FMAB3GA\SQLEXPRESS;Initial Catalog=ComplaintManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.EMSConnectionString1"
            connectionString="Data Source=UFL-IT-SHAHZAD;Initial Catalog=EMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.CoreDbConnectionString"
            connectionString="Data Source=DESKTOP-LSNFKV8;Initial Catalog=CoreDb;User ID=sa;Password=abc12345"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.CoreDbEngineConnectionString"
            connectionString="Data Source=DESKTOP-LSNFKV8;Initial Catalog=CoreDbEngine;User ID=sa;Password=abc12345"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.CoreDbConnectionString1"
            connectionString="Data Source=DESKTOP-U66R582\KPDEV1;Initial Catalog=CoreDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.CoreDbEngineConnectionString1"
            connectionString="Data Source=DESKTOP-U66R582\KPDEV1;Initial Catalog=CoreDbEngine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.CoreDbEngineConnectionString2"
            connectionString="Data Source=DESKTOP-U66R582\KPDEV1;Initial Catalog=CoreDbEngine;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.CoreDbConnectionString2"
            connectionString="Data Source=DESKTOP-U66R582\KPDEV1;Initial Catalog=CoreDb;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.CoreDbConnectionString3"
            connectionString="Data Source=DESKTOP-U66R582\KPDEV1;Initial Catalog=CoreDb;User ID=sa;Password=Admin@123"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.CoreDbConnectionString4"
            connectionString="Data Source=.;Initial Catalog=CoreDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.WPSFileProcessingConnectionString"
            connectionString="Data Source=DESKTOP-U66R582\KPDEV1;Initial Catalog=WPSFileProcessing;User ID=sa;Password=Admin@123"
            providerName="System.Data.SqlClient" /> 
        <add name="CORE_MODELS.Properties.Settings.CoreDbConnectionString6"
            connectionString="Data Source=DESKTOP-U66R582\KPDEV1;Initial Catalog=CoreDb;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORE_MODELS.Properties.Settings.CoreDbConnectionString7"
            connectionString="Data Source=20.74.167.235,1433;Initial Catalog=CoreDb;User ID=waqas"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>