<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContextRapper.Properties.Settings.EMSConnectionString"
            connectionString="Data Source=DESKTOP-FMAB3GA\SQLEXPRESS;Initial Catalog=EMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>