<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SMSAPI" value="https://globalsms.edsfze.com:1010/API/" />
		<add key="IsLocal" value="false" />
		<add key="IsActivate" value="false" />
		<add key="CertPath" value="C://Certificate/KamelPay.cert" />
		<add key="CRDSTUS" value="https://kamilpay.com/v1/api/" />
		<add key="HSMURL" value="https://uat.kamilpay.com/v1/api/" />


		<!--<add key="LogFileLocation" value="E://Core Production Publish/Web Portal/WebAPI/Logs/" />-->
		<add key="LogFileLocation" value="D://owais/Kamel Pay/KamelPayInternalSystems/KamelPay_Web_Portal_Backend/CORE_API/Logs" />

		<add key="DocPath" value="D:/owais/KP_Portal_Files/UAT" />
		<add key="WPS_Mol" value="D:\owais\KP_Portal_Files\UAT" />
		<add key="FolderName" value="00 - Portal" />

		<add key="Nodeurl" value="http://44.209.254.10:8081" />
		<add key="timeoutInSeconds" value="30" />





		<!--<add key="WPS_Mol" value="F:\00 - SFTP KP\AJMN_SFD\UAT\KPWPS\MOLUpload"/>-->

		<!--<add key="DocPath" value="F:/00 - SFTP KP/KP_Portal_Files/UAT" />-->
		<!--<add key="DocPath" value="F:/00 - SFTP KP/KP_Portal_Files/PROD" />-->

	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<connectionStrings>

		<!--<add providerName="System.Data.SqlClient" name="connsetting" connectionString="Data Source=UFL-IT-SHAHZAD;Initial Catalog=EMS;User Id= sa;Password=sa;" />-->
		<!--<add providerName="System.Data.SqlClient" name="connsetting" connectionString="Data Source=UFL-IT-SHAHZAD;Initial Catalog=EMS;Integrated Security=true" />-->
		<!--<add providerName="System.Data.SqlClient" name="connsetting" connectionString="Data Source=DESKTOP-LSNFKV8;Initial Catalog=EMS;Integrated Security=true" />-->

		<add providerName="System.Data.SqlClient" name="connsetting" connectionString="data source=DESKTOP-U66R582\KPDEV1;Initial catalog=CoreDb;user id=sa;password=Admin@123;" />
		<add providerName="System.Data.SqlClient" name="connsettingEngine" connectionString="data source=DESKTOP-U66R582\KPDEV1;Initial catalog=CoreDbEngine;user id=sa;password=Admin@123;" />
		<add providerName="System.Data.SqlClient" name="WPSFileProcessing" connectionString="data source=DESKTOP-U66R582\KPDEV1;Initial catalog=WPSFileProcessing;user id=sa;password=Admin@123;" />
    
		
		<!--<add providerName="System.Data.SqlClient" name="connsetting" connectionString="data source=20.74.167.235,1433;Initial catalog=CoreDb;User Id=waqas;Password=Waqas@123456;" />
    <add providerName="System.Data.SqlClient" name="connsettingEngine" connectionString="data source=20.74.167.235,1433;Initial catalog=CoreDbEngine;User Id=waqas;Password=Waqas@123456;" />
    <add providerName="System.Data.SqlClient" name="WPSFileProcessing" connectionString="data source=20.74.167.235,1433;Initial catalog=WPSFileProcessing;User Id=waqas;Password=Waqas@123456;" />-->

		
		<!--<add providerName="System.Data.SqlClient" name="connsetting" connectionString="Data Source=DESKTOP-U66R582\KPDEV1;Initial Catalog=CoreDb;Integrated Security=true" />
	  <add providerName="System.Data.SqlClient" name="connsettingEngine" connectionString="Data Source=DESKTOP-U66R582\KPDEV1;Initial Catalog=CoreDbEngine;Integrated Security=true" />-->

		<!--<add providerName="System.Data.SqlClient" name="connsetting" connectionString="data source=localhost;Initial catalog=CoreDb;persist security info=True;Integrated Security=SSPI; " />
		<add providerName="System.Data.SqlClient" name="connsettingEngine" connectionString="data source=localhost;Initial catalog=CoreDbEngine; persist security info=True; Integrated Security=SSPI;" />
		<add providerName="System.Data.SqlClient" name="WPSFileProcessing" connectionString="data source=localhost;Initial catalog=WPSFileProcessing; persist security info=True;Integrated Security=SSPI;" />-->



	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_Ismsapi" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://api.edsfze.com/smsapi.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Ismsapi" contract="SMSApiService.Ismsapi" name="BasicHttpBinding_Ismsapi" />
		</client>
	</system.serviceModel>
</configuration>